Header unset X-Powered-By
ErrorDocument 404 /error/404.php

RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.cisojourney\.com [NC]
RewriteRule ^(.*)$ https://cisojourney.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category\/([0-9]*)\/([0-9]*)\/$ /category/\?id=$1\?area=$2\.php [R=301,L]
