Header unset X-Powered-By
ErrorDocument 404 /error/404.php

RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP_HOST} ^www\.cisojourney\.com [NC]
RewriteRule ^(.*)$ https://cisojourney.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category\/([0-9]+)\/$ /category.php\?id=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^category\/([a-zA-Z-]+)\/$ /category.php\?slug=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^area\/([a-zA-Z-]+)\/$ /categories.php\?slug=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^article\/([a-zA-Z-]+)\/$ /article.php\?slug=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^preview\/([a-zA-Z-]+)\/$ /preview-article.php\?slug=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^error\/404\/$ /error/404.php [L]
