body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', arial, sans;
  background-color: #f2f2f2;
  font-size: 1.2em;
  line-height: 1.5;
  color: #859196;
}
a {
  text-decoration: none;
  color: inherit;
}
hr {
  width: 75%;
  margin-bottom: 30px;
}

.top-bar {
  text-align: right;
  width: calc(100% - 20px);
  background-color: black;
  border-bottom: 2px solid gray;
  color: white;
  padding: 10px;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}
.login-buttons {
  width: fit-content;
  float: right;
}
.logo {
  width: fit-content;
  float: left;
}
.title-bar {
  background-color: white;
  width: 100%;
  font-size: 36px;
}
.title {
  width: fit-content;
  margin: 0 auto;
  padding: 20px;
}
.on-brand {
  color: green;
}
.nav-bar {
  width: 100%;
  background-color: white;
  text-align: center;
}
.nav-bar ul {
  padding: 0;
  margin: 0;
}
.nav-bar li {
  display: inline-block;
  padding: 10px;
}
.page-wrapper {
  width: 100%;
  height: 200px;
}
.content-full {
  width: 100%;
  padding-bottom: 20px;
}
.center-text {
  text-align: center;
}
.uppercase-text {
  text-transform: uppercase;
}
.black-text {
  color: black;
}
spacing-text {
  letter-spacing: 0.5px;
}
.dim-text {
 color: #bbb;
}
.nopad-text {
 padding: 0;
 margin: 0;
}
.content {
  width: 95%;
  margin: 0 auto;
  padding-top: 20px;
}
.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.content-trio {
  flex: calc(33% - 30px);
  max-width: 30%;
  margin: 15px;
}
.content-block {
  padding: 20px;
  border-radius: 8px;
  box-shadow: #859196 0 0 20px;
  background-color: #fff;
}
.block-icon {
  margin: 0 auto;
  font-size: 56px;
  width: 56px;
}
.ciso-color:hover {
  color: darkgreen;
}
.training-color:hover {
  color: darkred;
}
.labs-color:hover {
  color: darkorange;
}
.login-block {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: #859196 0 0 20px;
  background-color: #fff;
}
.login-input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 10px;
}
.login-button {
  width: 50%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 10px;
  text-decoration: bold;
}


@media only screen and (max-width: 900px) {
.content-trio {
  flex: calc(50% - 30px);
  max-width: 50%;
  margin: 15px;
}
}

@media only screen and (max-width: 700px) {
.content-trio {
  flex: calc(100% - 30px);
  max-width: 100%;
  margin: 15px;
}
}
